<div class="container">
    <div class="jumbotron">
        <h1>GitHub Crawler Application</h1>
        <p>GitHub Crawler is an application that allow the user to search a repository using the GitHub API.
            For example a search by "Machine Learning", should return a list of GitHub repositories that hosts
            Machine Learning Projects.
            A csv file will also be populated with all the repositories info, which will be
            parsed by the back-end that will extract different types of information (i.e Stars, Issues, Description,
            etc.).
            Once the information are extracted an HTML table will be added at the front-end with all the retrieved info.
            Finally, the data can be inserted into an SqLite database.
        </p>
    </div>
</div>

<!-- Page Content -->
<div class="container">
</div>