<hr>
<!-- Page Content -->
<div class="container" ng-controller="homeCtrl">

    <div ng-repeat ="value in dataset">
        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="col-lg-4 featurette-image img-circle img-responsive" ng-class-odd="'pull-right'"
                 ng-class-even="'pull-left'" ng-src="{{value.imgUrl}}">
            <h2 class="featurette-heading"><!--{{value.heading}}-->
                <span class="text-muted">{{value.subheading}}</span>
            </h2>
            <p class="lead">{{value.text}}</p>

            <form class="col-lg-6" name="sentMessage" id="contactForm" novalidate ng-submit="submitSearchGitForm()">
                <div class="control-group form-group">
                    <div class="controls">
                        <input type="text" class="form-control" id="topic"
                               required data-validation-required-message="Please enter a topic.">
                        <p class="help-block"></p>
                    </div>
                </div>

                <div id="success"></div>
                <!-- For success/fail messages -->
                <button type="submit" class="btn btn-primary pull-right">Search</button>
            </form>
        </div>
        <hr class="featurette-divider">
    </div>
</div>